* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    margin: auto;
}

.path {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 60%;
    margin: auto;
    font-size: 0.6rem;
}
.detalle_producto {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 90%;
    margin: auto;
}

.foto_detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 60%;
    margin: auto;
}

.fotodetalle {
    width: 100%;
    margin: 0px auto;   
}

.texto_detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 70%;
    margin: auto;
}

.lista-detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    margin: auto;
}

.botoncompra {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.6rem;
}

button[type="submit"] {
    background-color: #25363d;
    color: #fff;
    margin-left: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #384f57;
}

.path h6{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 200 ;
    font-size: 0.6rem;
    color: #535252;
}

.texto_detalle h1{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 800 ;
    font-size: 1.2rem;
    color: #343434;
}

.texto_detalle h2{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: 800 ;
    font-size: 1rem;
    color: #343434;
}

.lista-detalle h3{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 800 ;
    font-size: 0.7rem;
    color: #343434;
}

.lista-detalle p {
    font-size: 0.8rem;
}



/*Media query para Tablet*/
@media (min-width: 768px){

    .container_detalle{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .path {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 70%;
        margin: auto;
        font-size: 1rem;
    }
    .detalle_producto {
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        width: 80%;
        margin: auto;
    }
    
    .foto_detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 90%;
        margin: auto;
    }
    
    .fotodetalle {
        width: 100%;
        margin: 0px auto;   
    }
    
    .texto_detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 90%;
        margin: auto;
        margin-left: 80px;

    }
    
    .lista-detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        margin: auto;
    }

    .path h6{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: 200 ;
        font-size: 0.8rem;
        color: #535252;
    }
    
    .texto_detalle h1{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 800 ;
        font-size: 1.3rem;
        color: #343434;
    }
    
    .texto_detalle h2{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
        font-weight: 800 ;
        font-size: 1rem;
        color: #343434;
    }
    
    .lista-detalle h3{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 10px;
        font-weight: 800 ;
        font-size: 0.8rem;
        color: #343434;
    }

    .lista-detalle p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
    
}


/*Media query para Desktop*/
@media (min-width: 1024px){

    .container_detalle{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .path {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 80%;
        margin: auto;

    }
    .detalle_producto {
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        width: 90%;
        margin: auto;
    }
    
    .foto_detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 80%;
        margin: auto;
    }
    
    .fotodetalle {
        width: 80%;
        margin: 0px auto;   
    }
    
    .texto_detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        margin-left: 100px;
        margin-top: 40px;

    }
    
    .lista-detalle {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        width: 100%;
        margin: auto;
    }
    
    .path h6{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: 200 ;
        font-size: 1.0rem;
        color: #535252;
    }
    
    .texto_detalle h1{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 800 ;
        font-size: 2.5rem;
        color: #343434;
    }
    
    .texto_detalle h2{
        width: 100%;
        margin-bottom: 30px;
        margin-top: 0px;
        font-weight: 800 ;
        font-size: 2rem;
        color: #343434;
    }
    
    .lista-detalle h3{
        width: 100%;
        margin-bottom: 8px;
        margin-top: 20px;
        font-weight: 800 ;
        font-size: 1rem;
        color: #343434;
    }

}