<!-- Head -->
<%- include('./partials/head') %>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/about.css">
</head>

<body>
    <!-- Inicio de Cabecera del Sitio -->
    <%- include('./partials/header') %>
    <div class="about">
        <img src="\images\aries_small.jpg" alt="">
        <main>
            <p>
                ARIES EQUESTRIAN es una marca de indumentaria ecuestre que se diferencia
                por su alta calidad y diseños exclusivos.
                Ofrecemos variedad de talles y colorees en nuestros artículos, y envíos a todo el país.
            </p>

        </main>
    </div>
    <!-- Footer del Sitio -->
    <%- include('./partials/footer') %>
    <!-- Footer del Sitio --> 
</body>
</html>

