<!-- Head -->
<%- include('./partials/head') %>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/about.css">
</head>

<body>
    <!-- Inicio de Cabecera del Sitio -->
    <%- include('./partials/header') %>
    <main>
        <p>
            "Siempre estamos trabajando hacia el futuro, experimentando con nuevas ideas y prediciendo tendencias para el futuro.
        Nuestra misión es producir productos originales de alta calidad para la moda ecuestre.
        Dureza, gusto y consistencia son tres valores que representan Animo. Estos adjetivos son perfectamente caracterizados por nuestro símbolo distintivo, el albatros. Su elegancia y magnificencia en vuelo es nuestra fuente de inspiración, siempre volando alto con gracia.
        
        Al igual que los largos viajes del albatros, hemos tomado nuestro propio camino para crear proyectos que nos han llevado a alcanzar nuestras metas de convertirnos en una marca que simboliza el pensamiento innovador y la evolución en la ropa y accesorios ecuestres."
        </p>

    </main>
    <!-- Footer del Sitio -->
    <%- include('./partials/footer') %>
    <!-- Footer del Sitio --> 
</body>
</html>

